@import '../../styles/font.scss';
@import '../../styles/reset.scss';
@import '../../styles/index.scss';

body html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -webkit-scrollbar: {
    width: 6px;
  }
  -webkit-scrollbar-track: {
    background: 'transparent';
  }
  -webkit-scrollbar-thumb: {
    background: #808080;
    border-radius: 6px;
  }
  height: 100%;
}
