@import "../../styles/font.scss";
@import "../../styles/reset.scss";

body {
  color: '#000';
  background-color: '#808080';
}

html {
  width: 25rem;
  height: 20rem;
}

#popup {
  width: 400px;
  padding: 30px 20px;

  h2 {
    font-size: 25px;
    text-align: center;
  }

  #options__button {
    width: 50%;
    background: green;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    padding: 5px 10px;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
  }

  .links__holder {
    ul {
      display: flex;
      margin-top: 1em;
      justify-content: space-around;

      li {
        button {
          border-radius: 25px;
          font-size: 20px;
          font-weight: 600;
          padding: 10px 17px;
          background-color: rgba(0, 0, 255, 0.7);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}