@import '../../styles/font.scss';
@import '../../styles/reset.scss';

body html {
  background-color: '#0C0F15 !important';
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -webkit-scrollbar: {
    width: 6px;
  }
  -webkit-scrollbar-track: {
    background: 'transparent';
  }
  -webkit-scrollbar-thumb: {
    background: #808080;
    border-radius: 6px;
  }
}

#popup-view {
  width: 350px;
  padding: 0px;
  background-color: '#0C0F15';
}
