{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:react-hooks/recommended",
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier"
    ],
    "rules": {
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "import/no-unresolved": 0,
        "no-unused-vars": 0,
        "max-len": ["warn", {"code": 150}],
        "no-console": ["error", { "allow": ["debug", "warn", "error"] }],
        "no-underscore-dangle": "off",
        "class-methods-use-this": "off",
        "import/extensions": ["error", "ignorePackages", {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
        }],
        "no-tabs": ["error", {"allowIndentationTabs": true}],
        "@typescript-eslint/no-require-imports": "warn",
        "@typescript-eslint/no-floating-promises": "off",
        "import/prefer-default-export": "off"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "import",
        "jsx-a11y"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "project": "./tsconfig.json",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "JSX": "readonly"
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
              "extensions": [
                ".js",
                ".jsx",
                ".ts",
                ".tsx"
              ]
            },
            "webpack": {}
        },
        "import/ignore": ["node_modules"],
        "import/extensions": [".js", ".mjs", ".jsx", ".ts", ".tsx"],
        "import/parsers": {
            "@typescript-eslint/parser": [
              ".ts",
              ".tsx"
            ]
        }
    }
}
